<form name="forms" novalidate>
    <div class="row">
        <!-- Panel Identificação com tipo de movimentação, vigência..-->
        <div class="col-lg-12">
            <div class="ibox float-e-margins ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <label gumga-translate-tag="businessrule.typeofmovement">Type of Movement</label><strong class="text-danger" ng-show="entity.operationOwner.length <= 0"> *</strong>
                            <select multiple chosen
                                    data-placeholder="Tipo de movimento..."
                                    ng-model="entity.operationOwner"
                                    ng-options="op as op.name for op in operationTypes" ng-disabled="entity.id">
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label gumga-translate-tag="businessrule.whenthevalueis">When the value is</label>
                        </div>
                        <div class="col-md-2">
                            <label gumga-translate-tag="businessrule.duraction">Duraction</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <select class="form-control" ng-options="op.key as op.label for op in operators"
                                    ng-model="entity.operatorType" ng-disabled="entity.id" ng-change="entity.value = 0"></select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="entity.value" ui-money-mask
                                   ng-disabled="!entity.operatorType || entity.operatorType == ' ' || entity.id"/>
                        </div>
                        <div class="col-md-2 ">
                            <grands-atributo-data id="startdate" model="entity.startDuraction"
                            change="changeStartDate(value)"></grands-atributo-data>

                            <!--<div class="input-group date">-->
                                <!--<input type="datetime" class="form-control" id="startDuraction"-->
                                       <!--date-time ng-model="entity.startDuraction" view="date" min-view="date"-->
                                       <!--format="dd/MM/yyyy" ng-blur="checkDate('startDuraction')"-->
                                       <!--auto-close="true" ng-disabled="entity.id">-->
                                <!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                            <!--</div>-->
                        </div>
                        <div class="col-md-1">
                            <label gumga-translate-tag="businessrule.until" class="custom-span text-muted">Until</label>
                        </div>
                        <div class="col-md-2">
                            <grands-atributo-data id="enddate" model="entity.endDuraction"
                                                  change="changeEndDate(value)"></grands-atributo-data>

                            <!--<div class="input-group date">-->
                                <!--<input type="datetime" class="form-control"-->
                                       <!--date-time ng-model="entity.endDuraction" view="date" min-view="date"-->
                                       <!--format="dd/MM/yyyy" ng-blur="checkDate('endDuraction')" id="endDuraction"-->
                                       <!--auto-close="true">-->
                                <!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                            <!--</div>-->
                        </div>
                        <div class="col-md-3">
                            <button type="button"
                                    ng-click="clickedBtnGreen = true; clickedBtnBlue = false" style="color: #fff;" class="btn button-green" ng-disabled="entity.id"><i
                                    class="fa fa-check"></i> <span gumga-translate-tag="billing.atsight">At Sight</span>
                            </button>
                            <button type="button" ng-click="clickedBtnGreen = false; clickedBtnBlue = true;changeTerm()" style="color: #fff;" class="btn button-blue" ng-disabled="entity.id"><i
                                    class="fa fa-calendar-check-o"></i> <span>A Prazo</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="clickedBtnBlue || clickedBtnGreen">
        <!-- Configuração da regra -->
        <div class="col-lg-12">
            <div class="ibox float-e-margins ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 gumga-translate-tag="businessrule.entry">Entry</h3>
                        </div>
                        <div class="col-md-6">
                            <h3 gumga-translate-tag="businessrule.discount">Discount</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label gumga-translate-tag="businessrule.minimumvalueforentry">Minimum value for
                                entry</label>
                            <grands-control-type model="entity.entryValue"
                                                 type-value="entity.entryType" is-disabled="clickedBtnGreen || entity.id"></grands-control-type>
                        </div>
                        <div class="col-md-3">
                            <label gumga-translate-tag="businessrule.tobepaid">to be paid</label>
                            <grands-payment-type color="btn-info"
                                    is-disabled="entity.id"
                                    selected-values="entity.entryPaymentTypes" multi="true" search="get(page,size)"
                                    page-size="5"></grands-payment-type>
                        </div>
                        <div class="col-md-3">
                            <label gumga-translate-tag="businessrule.maximumdiscount">Maximum discount</label>
                            <grands-control-type model="entity.discount"
                                                 type-value="entity.discountType"
                                                 is-disabled="isDisabled || entity.id"></grands-control-type>
                        </div>
                    </div>
                    <br>

                    <div class="row container-fluid" ng-if="!hideInstallment()">
                        <h3 gumga-translate-tag="businessrule.installment">Installment</h3>
                    </div>
                    <div class="row" ng-if="!hideInstallment()">
                        <div class="col-md-2">
                            <label gumga-translate-tag="businessrule.maxinstallment">Max Installment</label><strong class="text-danger" ng-show="clickedBtnBlue && entity.parcelsCount == null || entity.parcelsCount == '' "> *</strong>
                            <input type="number" class="form-control" ng-model="entity.parcelsCount"
                                   ng-change="minimumParcelsCount()" ng-disabled="entity.id"/>
                        </div>
                        <div class="col-md-2">
                            <label gumga-translate-tag="businessrule.tobepaid">to be paid</label><strong class="text-danger" ng-show="entity.parcelsPaymentTypes.length <= 0"> *</strong>
                            <grands-payment-type
                                    is-disabled="entity.id" color="btn-info"
                                    selected-values="entity.parcelsPaymentTypes" multi="true" search="get(page,size)"
                                    page-size="5"></grands-payment-type>
                        </div>
                        <div class="col-md-offset-2 col-md-2">
                            <div class="row container-fluid">
                                <label gumga-translate-tag="businessrule.recurrence">Recurrence</label>
                            </div>
                            <input type="checkbox" ng-model="entity.recurrence.value" ng-disabled="entity.id">
                            <span gumga-translate-tag="businessrule.monthly">Monthly</span>
                        </div>
                        <div class="col-md-4" ng-hide="disabledNegotiationInterval()">
                            <div class="row container-fluid">
                                <label gumga-translate-tag="businessrule.installmentsinterval">Installments
                                    interval</label><strong class="text-danger" ng-show="entity.recurrence.value == false && entity.negotiationInterval == '' "> *</strong>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="number" class="form-control" ng-model="entity.negotiationInterval"
                                           ng-change="minimumNegotiationInterval()" ng-disabled="disabledNegotiationInterval() || entity.id"/>
                                </div>
                                <div class="col-md-1">
                                    <label class="custom-label-days text-muted" gumga-translate-tag="businessrule.days">Days</label>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row container-fluid">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary pull-right" ng-click="addRules(entity)"
                                    ng-disabled="blockBtnAdd()" ng-hide="entity.id"><span><span
                                    class="fa fa-plus"></span> </span><span
                                    gumga-translate-tag="businessrule.add" class="ng-scope">Add</span></button>
                            <button type="button" class="btn btn-primary pull-right" ng-show="entity.id" ng-click="saveOnEdit(entity)" ng-disabled="!entity.entryValue || !entity.parcelsCount"><span><span
                                    class="fa fa-check"></span> </span><span
                                    gumga-translate-tag="button.save" class="ng-scope">Save</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="rules.length > 0 || !entity.id">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="table-responsive">
                            <gumga-list data="rules" configuration="conf" class="table-bordered"></gumga-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <button type="button" ui-sref="businessrule.list" grands-button="return" ng-show="entity.id"></button>
        <button type="button" ui-sref="businessrule.list" grands-button="cancel" ng-hide="entity.id"></button>
        <button type="button" ng-disabled="rules.length <= 0" ng-click="update(rules)" grands-button="save"></button>
    </div>
</form>