<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <button type="button" class="btn gmd fab fixed btn-primary gmd-ripple" ui-sref="businessrule.stepone" >
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                        <div class="col-md-12 m-t">
                            <gumga-list data="businessrule.data"
                                        configuration="conf"
                                        class="table-striped gmd"
                                        sort="businessrule.methods.sort(field, dir)"
                                        page-size="businessrule.pageSize"
                                        count="businessrule.count"
                                        page-model="businessrule.page"
                                        max-height="400px"
                                        on-page-change="businessrule.methods.get(page, pageSize)">
                            </gumga-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
